html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  overflow-x: hidden;
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
}

input[type="text"],
textarea,
button {
  font-size: 1.1rem;
  padding: 12px;
}

#root {
  height: 100%;
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  position: relative;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 0;
  object-fit: cover;
  opacity: 0.2;
  filter: contrast(1.2) brightness(0.7);
  pointer-events: none;
}

.app-header {
  text-align: center;
  padding: 30px 20px 10px;
  z-index: 2;
}

.site-title {
  font-size: 4rem;
  margin: 0;
}

.site-subtitle {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #ccc;
}

.password-content {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .app-container {
    padding: 25px;
    justify-content: center;
    align-items: center;
  }

  .app-header {
    padding: 10px 20px 10px;
    z-index: 2;
  }

  .site-title {
    font-size: 3rem;
  }

  .site-subtitle {
    font-size: 1rem;
  }

  .btn-container {
    flex-direction: column;
    gap: 10px;
  }

  textarea {
    font-size: 1rem;
    width: 100%;
  }

  .password-box {
    padding: 1rem;
  }

  .password-content {
    width: 100%;
  }
}